
@{
    ViewBag.Title = "UserLogPage";
}

<h2>UserLogPage</h2>

<div class="card p-4 shadow-lg" style="width: 350px; background-color: black;">
    <h3 class="text-center mb-4" style="color:cornflowerblue;">Autentificare</h3>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label" style="color: rgb(52, 207, 235);">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Introdu username-ul">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label " style="color: rgb(52, 207, 235);">Parolă</label>
            <input type="password" class="form-control" id="password" placeholder="Introdu parola">
        </div>
        <button type="submit" class="btn btn-primary w-100">Autentificare</button>
    </form>
</div>