<!-- Navigație Bootstrap -->


<!-- Secțiune cu text centrat -->
<div class="container text-center mt-5">
    <h1 id="home_main_text" class="display-4">Welcome!</h1>
    <p id="short_description" style="color:white; margin-right:840px;font-size:30px;"class="lead">Aici gasesti automobile pentru tine sau chiriasi pentru automobilul tau.</p>
    <a href="#" id="afla_mai_multe" class="btn btn-primary btn-lg" style="margin-right:852px;">Află mai multe</a>
</div>

<!-- Bootstrap JS -->





<div id="background_image">

  
</div>

<div id="home_section_2">

    

   




            }




</div>